html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
 
}

:root {
  --pomodoro: hsl(224, 79%, 72%);
  --shortBreak: hsl(36, 68%, 67%);
  --longBreak: hsl(106, 27%, 42%); 
 
}

body { 
  
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
}

progress {
  border-radius: 1rem;
  width: 100%;
  height: 1.5rem;
  position: fixed;
  top: 0;
}

progress::-webkit-progress-bar {
 background-color: rgba(59, 53, 53, 0.1);
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  margin-left: -10rem;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.clock {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 15rem;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family:sans-serif;
}

.mode-button {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 300;
  color: #fff;  
  border: 0.15rem solid transparent;
  margin: 1rem;
  border-radius: 0.5rem; 
  padding: 0.5rem;
  background: none;
}

.mode-button.active {
  border-color: #fff;
}

.main-button {
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border-width: initial;
  border-style: none;
  margin-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}

.main-button.active {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}
